*¨{
    margin-top: 0;  
    padding: 0;
}
h1{
    color: rgb(7, 7, 7);
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.btn-ander{
    background-color:rgb(72, 195, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    height:20px;
    width: 100px;
}
.btn-ander:hover{
    background-color:rgba(48, 201, 240, 0.938)
}
.form-ander{
    height:400px;
    width: 400px;
    background-position: 100px,100px;
}
/* Selectores de atributos */
[href]{
    background-color:blue;
    color:black;
}

[href="https://web.whatsapp.com/"]{
    background-color:green;
    color:white
}
/* Verifica la primera palabra */
[href^="#q"]{
    background-color:red

}
/* Verifica si existe la palabra no importa la posicicion  */
[href*="whatsapp"]{
    background-color:black;
}
/* Verifica la ultima palabra */
[href$="q"]{
    background-color: white;
}
[lang|="en"]{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:aliceblue


}
body{
    padding:10px;
  }
/*Tablas*/
  .an-table{
   border-width: 1px;
   border-color: black;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 200px;
   margin-right: 200px;
  
   
  }
  .an-table th{
    border-width: 1px;
    border-color: rgb(63, 62, 62);
    padding:10px; 
    text-align:center;
   }
  
   .an-table td{
    border-color: red;
    padding:10px;
    border-width:1px ;
    border-color: rgb(157, 155, 155);
   }
   .an-table tbody .tbody:hover{
    border-color: red;
    padding:10px;
    border-width:1px ;
    border-color: rgb(157, 155, 155);
    background-color:rgb(230, 235, 243) ;
   }
   .an-table thead .thead{
    
    background-color:rgb(160, 157, 157) ;
    
   }
  
   .an-table thead .thead:hover{
    background-color:rgb(146, 145, 145) ;
   }
  
   .class-h1{
     padding:10px;
     text-align:center;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
  [type="submit"] {
    width: 100px;
    height:30px;
    text-align: center; 
  }
  .title-1{
      text-align:center;
     
  }
  .title-2{
      width: 300px;
  }
  /*Selectores desesdientes*/
  div .title-2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: aqua;
      width:300px
      

  }

  
