
/*Margin

margin-top:lado superior
margin-left: Lado izquierdo
margin-right: Lado derecho
margin-bottom: Lado inderior

Admite 4 valores que fincionan como las manesillas
del reloj.
4 valores -> margin: top right bottom left
3 valores -> margin: top right/left bottom
2 valores -> margin: top/bottom left/right
1 valores -> margin: top/right/bottom/left
*/

body{
    background-color: black;
    color: white;
    margin: 0;
}
.block{
    background-color:blue;
    height:200px;
    width:200px;
    margin-left: auto; /*Para mover el bloque hacia el lado que desee orizontal*/
    
}
/*Los elementos elementos en linea solo tienen margenes a los lados*/
.inline{
    color: inherit;
    background-color:green;
    margin-right: 10px;  /*Margenes orizontales si sirven*/
    margin-left:10px;
    margin-top: 100px;   /*Los margenes verticales no funcionan para elementos en linea*/
}

.title {
    background-color:gray;
    width:200px;
    margin-left:auto;    /*Si damos margin auto a los lados nos centra el bloque*/
    margin-right:auto;
}

/*Malas practicas padding*/
/*
*{
    padding: 0px;  Estos es mala prectica ya que le estamos dando un valor 0 a todos nuestros elementos
    margin: 0;
}
*/

.mala-practica{
   /* margin: 0 auto;       Usar esto para centrar un bloque es mala practica ya que resete nuestros valores padding asignados anteriormente*/
    background: rgb(174, 24, 24); 
    height:40px;
    width:40px;
}

/*padding*/
.block2{
    background-color:blue;
    height:200px;
    width:200px;
    margin-left: auto;
    margin-right:auto ;
}
.title2 {
    background-color:gray;
    margin-top: 0;
    margin-bottom: 10px;
    width:-webkit-max-content;
    width:-moz-max-content;
    width:max-content;
}

.inline2{
    color: inherit;
    background-color:green;
    margin-right: 10px;  /*Margenes orizontales si sirven*/
    margin-top: 100px;   /*Los margenes verticales no funcionan para elementos en linea*/
}

/*
Border
border-width: define el ancho del borde
border-style: define el estilo del borde
border-color: define el color del borde
*/
.block3{
    background-color:blue;
    height:200px;
    width:200px;
    border-width: 2px;
    border-style: solid;
    border-color:white;
}
.title3 {
    background-color:gray;
    margin-top: 0;
    margin-bottom: 10px;
    width:-webkit-max-content;
    width:-moz-max-content;
    width:max-content;
}

.inline3{
    color: inherit;
    background-color:green;
    margin-right: 10px;  /*Margenes orizontales si sirven*/
    margin-top: 100px;   /*Los margenes verticales no funcionan para elementos en linea*/
}

